html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  margin-left:auto;
  margin-right:auto;
}
.center{
  align-items: center;
  justitent: center;
} 
input{
  margin-left:10px;
  width:100px; 
}
.range{
/*   width:200px; */
}
.c{
  display:flex;
  align-items: center;
  justitent: center;
}
